*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color:  rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
h1{
    font-size: 3rem;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    width: 30vw;
    height: 50vh;
}
.container input{
    padding: 10px 15px ;
    margin-bottom: 20px;
}
.container button{
    border: 2px solid red;
    color: black;
    padding:  10px 50px;
    background-color:  transparent;
    font-size:  1.2rem;
    cursor: pointer;
}
.container h2{
    color: black;
    font-size: 2 rem;

}